doctype html
html

  head
    title Camper News
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="http://cdn.bootcss.com/jquery/2.2.0/jquery.min.js")
    script(src="index.js")
  
  body
    #container.text-center
      .heading
        hi#title Free Code Camper
        h2#subtitle Camper News
      .text-center#posts

        //- - for (var i = 0; i < 10; ++i) {
        //-   .post
        //-     img.author-photo(src="photo.jpe")
        //-     .post-info
        //-       .post-title #Post Title
        //-       .post-author #Author
        //-       .post-like #Like
        //-       .post-time #Time
        //-       .post-description #Description
        //- - }
